@font-face {
  font-family: 'figtree';
  src: url('/fonts/figtree/Figtree-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'figtree';
  src: url('/fonts/figtree/Figtree-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'figtree';
  src: url('/fonts/figtree/Figtree-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'figtree';
  src: url('/fonts/figtree/Figtree-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

// font lora secondary
@font-face {
  font-family: 'lora';
  src: url('/fonts/lora/Lora-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'lora';
  src: url('/fonts/lora/Lora-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'lora';
  src: url('/fonts/lora/Lora-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'lora';
  src: url('/fonts/lora/Lora-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
