@use '../abstracts' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-weight: 400;
  font-family: var(--font-primary);
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

  .ant-app {
    height: 100%;
  }
}
